@page "/index/{data}"
@using System.Net.Http
@using System.Net.Http.Json
@using Newtonsoft.Json
@using FinalProject.Models
@using FinalProject.API
@using Toolbelt.Blazor.SpeechRecognition
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject SpeechRecognition SpeechRecognition
@inject HttpClient Http


<head>
    <meta charset="UTF-8">
    <title>Banu's Google</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" />
    <style>
    </style>
</head>
<body>
<header>
    <div class="left">
            <img src="./google.png" style="height: 35%; margin-right: 30px;" alt="">
            <div class="search-container">
                <a class="g-icon" href="https://google.com" target="_blank"><img src="https://user-images.githubusercontent.com/48612525/86507657-d54fbd80-bd8e-11ea-866b-ac26496481ae.png" alt="google icon" /></a>
                <input class="search-bar" type="text" placeholder="Enter Search.." @bind="query" @onkeydown="@Enter" />
                <button class="mic" @onclick="StartSpeechRecognition"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                <button @onclick="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div class="voice">
                <p class="access-voice">Search by voice</p>
            </div>
    </div>
    <div class="right">
        <div class="toggle-button">
            <input type="checkbox" id="darkmode-toggle" @onchange="ToggleTheme" />
            <label for="darkmode-toggle">
                <div class="toggle-track"></div>
                <div class="toggle-thumb"></div>
            </label>
        </div>
    </div>
</header>

<div class="wrapper">
    <input type="radio" name="slider" checked id="home">
    <input type="radio" name="slider" id="blog">
    <input type="radio" name="slider" id="code">
    <input type="radio" name="slider" id="help">
    <nav>
        <label for="home" class="home"><i class="fas fa-search"></i>Search</label>
        <label for="blog" class="blog"><i class="fas fa-image"></i>Images</label>
        <label for="code" class="code"><i class="fas fa-video"></i>Videos</label>
        <label for="help" class="help"><i class="fas fa-newspaper"></i>Docs</label>
        <div class="slider"></div>
    </nav>
    <hr />
    <section>
        <div class="content content-1">
                @if (results != null)
                {
                    <ul style="padding-left:0;">
                        @foreach (var result in results.Items)
                        {
                            <li style="list-style-type: none;">
                                <a href="@result.Link" style="text-decoration:none;">@result.Title</a><br>
                                <a href="@result.Link" style="color:green; font-size:16; text-decoration:none;">@result.Link</a>
                                <p style="font-size:13px; color:gray;">@result.Snippet</p>
                            </li>
                        }
                    </ul>
                }
        </div>
        <div class="content content-2">
            
                <select @bind-value="imgType" @onchange="ImgTypeChanged" @bind-value:event="oninput" class="form-select" style="border:10%;">
                    <option value="">All</option>
                    <option value="jpg">JPG</option>
                    <option value="png">PNG</option>
                    <option value="bmp">BMP</option>
                    <option value="gif">GIF</option>
                    <option value="webp">WEBP</option>
                </select>

                @if (results != null)
                {

                    <div class="row shadow-sm" style=" background-color:aliceblue; border-radius:20px; padding: 30px;">
                        @foreach (var result in imageResults.Items)
                        {
                            <div class="col-sm-12 col-md-6 col-lg-4" style="overflow-x:hidden; border-radius:10px;">
                                <div class="image-list" style="margin-bottom:30px; margin-right:5px;">
                                <img src="@result.Link" alt="@result.Title" style="height:250px; width:auto; margin-bottom:20px; border-radius:10px;"/>
                                <br>
                                <a href="@result.Link" style="font-size:16; margin-bottom:20px; text-decoration:none;">@result.Title</a>
                                </div>
                            </div>
                        }
                    </div>
                }
        </div>
        <div class="content content-3">
                @if (videos == null)
                {
                    <p>Loading...</p>
                }
                else
                {
                    <div class="row" >
                        @foreach (var video in videos.Items)
                        {
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img src="@video.snippet.thumbnails.medium.url" alt="@video.snippet.title" class="bd-placeholder-img card-img-top" width="100%" height="225" />
                                    <div class="card-body">
                                        <h5>@video.snippet.title</h5>
                                        <p class="card-text">@video.snippet.description</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="@($"https://www.youtube.com/watch?v={video.id.videoId}")" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>
                                            </div>
                                            <small class="text-muted">@video.snippet.publishedAt.ToShortDateString()</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="btn-group mr-2 d-flex align-items-center" role="group" aria-label="Second group">
                            @if (!string.IsNullOrEmpty(prevPageToken))
                            {
                                <button class="btn btn-secondary btn-block" disabled=@IsDisabled @onclick="PrevPage">Previous Page</button>
                            }
                            @if (!string.IsNullOrEmpty(videos.NextPageToken))
                            {
                                <button class="btn btn-primary btn-block" @onclick="NextPage">Next Page</button>
                            }
                        </div>
                        
                    </div>
            }
        </div>
        <div class="content content-4">
                <select @bind-value="fileType" @onchange="DocTypeChanged" @bind-value:event="oninput" class="form-select" style="border:10%;">
                    <option value="pdf">PDF</option>
                    <option value="doc">Word</option>
                    <option value="xls">Excel</option>
                    <option value="ppt">PowerPoint</option>
                </select>

                @if (docResults == null)
                {
                    <p>Loading... @transcription</p>
                }
                else
                {
                    <div class="row" style="padding-top:1rem;">
                        @foreach (var doc in docResults.Items)
                        {
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-body">
                                        <h5>@doc.Title</h5>
                                        <p class="card-text">@doc.Snippet</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="@doc.Link" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                }
        </div>
    </section>
</div>


</body>

@code {
    
    //The C# code is seperated into the Index.razor.cs file for better organization

}